<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="org.lmp.TestWindowPos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <org.lmp.TestWindowPos.Properties.Settings>
            <setting name="WindowPlacementNormalPoint" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowPlacementNormalSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowPlacementMin" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowPlacementMax" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowPlacementFlags" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowPlacementShowCmd" serializeAs="String">
                <value>0</value>
            </setting>
        </org.lmp.TestWindowPos.Properties.Settings>
    </userSettings>
</configuration>